
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:Arial, Helvetica, sans-serif ;
}

body{
  background: #080808;
}
.header{
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;


}
.logo{
  position: relative;
  font-size: 50px;
  color:lightseagreen;
  text-decoration: none;
  font-weight: 600;
}

.navbar a {
  font-size: 18px;
  color: lightseagreen;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  transition-duration: 1s;

}
.navbar a:hover
{
  color: white;
}
.home{
height: 100vh;
background-size: cover;
background-position: center;
display: flex;
align-items: center;
padding: 0 10%;

}
.home-content {
  max-width: 500;
}
.home-content h1 {
  position: relative;
  font-size: 56px;
  font-weight: 400;
  line-height: 1;
  color: lightseagreen;

}

.home-content h3{
  position: relative; 
  font-size: 35px;
  font-weight: 50;
  color: lightseagreen;


}
.home-content p{
  position: relative;
  font-size: 20px;
  margin: 20px 0 40px;
  color: white;

}
.home-sci{
  position: absolute;
  bottom: 40px;
  width: 170px;
  display: flex;
  justify-content: space-between;


}

.home-sci a{
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 1px lightseagreen;
  border-radius: 50%;
  background-color: lightseagreen;
  


}
.home-sci a:hover{
  color: black;
  background-color: white;

}
  

.button {
  background-color: lightseagreen;
  border: none;
  color: white;
  padding: 19px 51px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 3px 0px;
  cursor: pointer;
  border-radius: 5px;
  border: 1px lightseagreen;
}
.button:hover {
  background-color: white;
  color: lightseagreen;
}

